body {
	font-family: 'Lato', sans-serif;
}

html, body, #root, #root > div {
	height: 100%;
}

.bag {
	height: 75%;
	width: 400px;
	position: fixed;
	z-index: 1;
	top: 0;
	background-color: tan;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.closedBag {
	left: -400px
}

.openBag {
	left: 0;
}

.bag div {
	padding: 8px 8px 8px 5px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

#dice-container {
	width: 400px
}

.sidenav a:hover {
	display: fle;
}

.bag .bagButton {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 100px;
}



/* #main {
	transition: margin-left 0.5s;
	padding: 16px;
} */

/* @media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
} */


#rollOutputWindow{
	font-size: 5em;
	border: 3px black solid;
	width: 80%;
	align-self: center;
	margin-left: 35px;
}

#dice-button {
	border: 2px red;
}